<div id="<%= dom_id blog %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= blog.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= blog.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age group:</strong>
    <%= blog.age_group.capitalize %>
  </div>
</div>
